/*ブラウザがそれぞれ持っているCSSをリセットするための記述*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.haru {
  height: 200px;
  background-image: url(img/box1.jpg);
  background-position: center;
  background-size: cover;
}

.natsu {
  height: 200px;
  background-image: url(img/box2.jpg);
  background-position: 25% center;
  background-size: cover;
}

.aki {
  height: 200px;
  background-image: url(img/box3.jpg);
  background-position: 50% center;
  background-size: cover;
}

.fuyu {
  height: 200px;
  background-image: url(img/box4.jpg);
  background-position: 75% center;
  background-size: cover;
}